## Trabalharemos com a an√°lise de empresas ativas no Recife.

### Importando:

In [16]:
import pandas as pd
import numpy as np

In [17]:
simples = pd.read_csv('/home/deezinn/Documentos/Meus Projetos Pessoais/Analysis-EmpresasAtivas/data/SIMPLES.csv',
                             sep=',',
                             low_memory=False )

In [18]:
pd.set_option('display.max_columns', None)

In [20]:
transformar_datetime = ['DATA DE ADESAO AO SIMPLES', 'DATA DE EXCLUSAO DO SIMPLES' , 'DATA DE ADESAO AO MEI', 'DATA DE EXCLUSAO DO MEI']



for colunas in transformar_datetime:
    simples[colunas] = pd.to_datetime(
        simples[colunas],
        format='%Y%m%d',
        errors='coerce'
    )

In [21]:
simples.head()

,CNPJ BASICO,OPTANTE PELO SIMPLES?,DATA DE ADESAO AO SIMPLES,DATA DE EXCLUSAO DO SIMPLES,OPTANTE PELO MEI?,DATA DE ADESAO AO MEI,DATA DE EXCLUSAO DO MEI
0,0,NAO,2007-07-01,2007-07-01,NAO,2009-07-01,2009-07-01
1,19357,NAO,2007-07-01,2010-12-31,NAO,NaT,NaT
2,28607,NAO,2007-07-01,2011-12-31,NAO,NaT,NaT
3,59281,SIM,2022-01-01,NaT,NAO,NaT,NaT
4,79526,NAO,2008-01-01,2013-12-31,NAO,NaT,NaT